<% if workout.errors.any? %>
  <div id="error_explanation" class="panel panel-danger">
    <div class="panel-heading">
      <h3 class="panel-title"><%= t('.validation_errors', count: workout.errors.count) %></h3>
    </div>
    <% if workout.errors[:base].present? %>
      <div class="panel-body">
        <p><%= workout.errors[:base] %></p>
      </div>
    <% end %>
  </div>
<% end %>

<%= form.select :kind, Workout::KINDS.map { |kind| [Workout.human_attribute_name("kind.#{kind}"), kind]} %>
<%= form.date_select :scheduled_on %>
<% if workout.persisted? %>
  <%= form.date_select :occurred_on, include_blank: true %>
<% end %>
<%= form.text_field :name %>
<%= form.text_area :description %>

<%= form.text_area :observations, class: 'done-attribute' %>
<%= form.text_area :coach_observations, class: 'done-attribute' %>
<%= form.text_field :weight_before, class: 'done-attribute' %>
<%= form.text_field :weight_after, class: 'done-attribute' %>

<%= form.text_field :distance_in_km, class: 'done-attribute gps-attribute' %>
<%= form.text_field :elapsed_time_in_hours, class: 'done-attribute gps-attribute' %>
<%= form.text_field :moving_time_in_hours, class: 'done-attribute gps-attribute' %>
<%= form.text_field :speed_avg, class: 'done-attribute gps-attribute' %>
<%= form.text_field :speed_max, class: 'done-attribute gps-attribute' %>
<%= form.text_field :cadence_avg, class: 'done-attribute gps-attribute' %>
<%= form.text_field :cadence_max, class: 'done-attribute gps-attribute' %>
<%= form.text_field :calories, class: 'done-attribute gps-attribute' %>
<%= form.text_field :elevation_gain, class: 'done-attribute gps-attribute' %>
<%= form.text_field :temperature_avg, class: 'done-attribute gps-attribute' %>
<%= form.text_field :temperature_max, class: 'done-attribute gps-attribute' %>
<%= form.text_field :temperature_min, class: 'done-attribute gps-attribute' %>
<%= form.text_field :watts_avg, class: 'done-attribute gps-attribute' %>
<%= form.text_field :watts_weighted_avg, class: 'done-attribute gps-attribute' %>
<%= form.text_field :watts_max, class: 'done-attribute gps-attribute' %>
<%= form.text_field :heart_rate_avg, class: 'done-attribute gps-attribute' %>
<%= form.text_field :heart_rate_max, class: 'done-attribute gps-attribute' %>
