<div class="workout-summary panel <%= workout_summary_panel_style(workout) %>">
  <div class="panel-heading">
    <h3 class="panel-title">
      <%= link_to workout_path(workout) do %>
        <%= l workout.scheduled_on, format: :short_weekday %>
        <%= workout_kind_image_tag(workout) %>
        <%= workout.name %>
      <% end %>
    </h3>
  </div>
  <div class="panel-body">
    <p class="lead"><%= workout.description %></p>
    <% if workout.done? %>
      <% if detailed %>
        <p><strong><%= Workout.human_attribute_name(:observations) %>:</strong> <%= workout.observations %></p>
        <p><strong><%= Workout.human_attribute_name(:coach_observations) %>:</strong> <%= workout.coach_observations %></p>
      <% end %>
      <table>
        <tbody>
          <% if workout.has_strava? %>
            <tr>
              <th><%= Workout.human_attribute_name(:strava_url) %>:</th>
              <td><%= link_to workout.strava_url, workout.strava_url, target: '_blank' %></td>
            </tr>
          <% end %>
          <% if workout.has_garmin_connect? %>
            <tr>
              <th><%= Workout.human_attribute_name(:garmin_connect_url) %>:</th>
              <td><%= link_to workout.garmin_connect_url, workout.garmin_connect_url, target: '_blank' %></td>
            </tr>
          <% end %>
          <tr>
            <th><%= Workout.human_attribute_name(:distance_in_km) %>:</th>
            <td><%= workout.distance_in_km %> km</td>
          </tr>
          <tr>
            <th><%= Workout.human_attribute_name(:moving_time_in_hours) %>:</th>
            <td><%= workout.moving_time_in_hours %></td>
          </tr>
          <% if detailed %>
            <tr>
              <th><%= Workout.human_attribute_name(:elapsed_time_in_hours) %>:</th>
              <td><%= workout.elapsed_time_in_hours %></td>
            </tr>
          <% end %>
          <tr>
            <th><%= Workout.human_attribute_name(:elevation_gain) %>:</th>
            <td><%= workout.elevation_gain %> m</td>
          </tr>
          <% if detailed %>
            <tr>
              <th><%= Workout.human_attribute_name(:calories) %>:</th>
              <td><%= workout.calories %></td>
            </tr>
          <% end %>
          <tr>
            <th><%= Workout.human_attribute_name(:speed_avg) %>:</th>
            <td><%= workout.speed_avg %> km/h</td>
          </tr>
          <% if detailed %>
            <tr>
              <th><%= Workout.human_attribute_name(:speed_max) %>:</th>
              <td><%= workout.speed_max %> km/h</td>
            </tr>
          <% end %>
          <tr>
            <th><%= Workout.human_attribute_name(:heart_rate_avg) %>:</th>
            <td><%= workout.heart_rate_avg %> bpm</td>
          </tr>
          <% if detailed %>
            <tr>
              <th><%= Workout.human_attribute_name(:heart_rate_max) %>:</th>
              <td><%= workout.heart_rate_max %> bpm</td>
            </tr>
          <% end %>
          <tr>
            <th><%= Workout.human_attribute_name(:cadence_avg) %>:</th>
            <td><%= workout.cadence_avg %> rpm</td>
          </tr>
          <% if detailed %>
            <tr>
              <th><%= Workout.human_attribute_name(:cadence_max) %>:</th>
              <td><%= workout.cadence_max %> rpm</td>
            </tr>
          <% end %>
          <% if detailed %>
            <tr>
              <th><%= Workout.human_attribute_name(:temperature_avg) %>:</th>
              <td><%= workout.temperature_avg %> ºC</td>
            </tr>
          <% end %>
          <% if detailed %>
            <tr>
              <th><%= Workout.human_attribute_name(:temperature_min) %>:</th>
              <td><%= workout.temperature_min %> ºC</td>
            </tr>
          <% end %>
          <% if detailed %>
            <tr>
              <th><%= Workout.human_attribute_name(:temperature_max) %>:</th>
              <td><%= workout.temperature_max %> ºC</td>
            </tr>
          <% end %>
          <% if detailed %>
            <tr>
              <th><%= Workout.human_attribute_name(:watts_avg) %>:</th>
              <td><%= workout.watts_avg %></td>
            </tr>
          <% end %>
          <% if detailed %>
            <tr>
              <th><%= Workout.human_attribute_name(:watts_weighted_avg) %>:</th>
              <td><%= workout.watts_weighted_avg %></td>
            </tr>
          <% end %>
          <% if detailed %>
            <tr>
              <th><%= Workout.human_attribute_name(:watts_max) %>:</th>
              <td><%= workout.watts_max %></td>
            </tr>
          <% end %>
          <% if detailed %>
            <tr>
              <th><%= Workout.human_attribute_name(:weight_before) %>:</th>
              <td><%= workout.weight_before %> kg</td>
            </tr>
          <% end %>
          <% if detailed %>
            <tr>
              <th><%= Workout.human_attribute_name(:weight_after) %>:</th>
              <td><%= workout.weight_after %> kg</td>
            </tr>
          <% end %>
        </tbody>
      </table>
    <% end %>
  </div>
</div>
