<div class="row">
  <div class="col-sm-12">
    <h1><%= t '.title' %></h1>
  </div>
</div>

<%= bootstrap_form_for(@workout) do |form| %>
  <div class="row">
    <div class="col-sm-8">
      <%= render partial: 'workouts/summary', locals: {workout: @workout, detailed: false, quick_actions: false} %>

      <%= render partial: 'workouts/form_errors', locals: {workout: @workout} %>

      <div id="strava_activities">
        <p><%= t('.searching_strava_activities') %></p>
      </div>

      <%= form.text_field :garmin_connect_url, class: 'done-attribute' %>

      <%= render partial: 'workouts/form_fields_observations', locals: {form: form, workout: @workout} %>
    </div>

    <div class="col-sm-4">
      <p><%= form.submit t('submit'), data: {disable_with: t('submiting')}, class: 'btn btn-primary btn-lg btn-block' %></p>
      <p><%= link_to t('back'), workout_path(@workout), role: 'button', class: 'btn btn-default btn-block' %></p>
    </div>
  </div>
<% end %>

<script type="text/javascript">
  $(document).on('page:change', function(event) {
    // idempotent function
    $.ajax({url: "<%= strava_activities_workout_path(@workout) %>"});
  });
</script>
