<div class="row">
  <div class="col-sm-12">
    <h1><%= t '.title' %></h1>
  </div>
</div>

<%= bootstrap_form_for(@workout) do |form| %>
  <div class="row">
    <div class="col-sm-8">
      <%= render partial: 'workouts/summary', locals: {workout: @workout, detailed: false} %>

      <%= render partial: 'workouts/form_errors', locals: {workout: @workout} %>

      <% @workout.occurred_on ||= @workout.scheduled_on %>
      <%= form.date_field :occurred_on, value: (l(@workout.occurred_on, format: :calendar) unless @workout.occurred_on.nil?), data: {mask: locale_mask('date')}, autofocus: true %>

      <%= render partial: 'workouts/form_fields_observations', locals: {form: form, workout: @workout} %>

      <%= render partial: 'workouts/form_fields_gps', locals: {form: form, workout: @workout} %>
    </div>
    <div class="col-sm-4">
      <p><%= form.submit t('save'), data: {disable_with: t('saving')}, class: 'btn btn-info btn-lg btn-block' %></p>
      <p><%= link_to t('back'), workout_path(@workout), role: 'button', class: 'btn btn-default btn-block' %></p>
    </div>
  </div>
<% end %>
