<div class="row">
  <div class="col-sm-12">
    <h1><%= t '.title' %></h1>
  </div>
</div>

<div class="row">

  <div class="col-sm-8">
    <% if @workouts.empty? %>
      <p class="lead"><%= t '.no_workout_to_show' %></p>
    <% else %>
      <% @workouts.each do |workout| %>
        <%= render partial: 'workouts/summary', locals: {workout: workout, detailed: false} %>
      <% end %>
      <%= paginate @workouts %>
    <% end %>
  </div>

  <div class="col-sm-4">
    <p><%= link_to t('.new_workout'), new_workout_path, role: 'button', class: 'btn btn-success btn-lg btn-block' %></p>
    <p>
      <%= link_to t('.sync_strava'), '#TODO', role: 'button', class: 'btn btn-primary btn-block', onclick: "alert('#{t(:not_available_yet)}'); return false" %>
      <span class="text-muted"><small><%= t('.sync_strava_help') %></small></span>
    </p>
  </div>
</div>
