<div class="row">
  <div class="col-sm-12">
    <h1><%= t '.title' %></h1>
  </div>
</div>

<div class="row">
  <div class="col-sm-8">
    <%= render partial: 'workouts/summary', locals: {workout: @workout, detailed: true} %>
  </div>

  <div class="col-sm-4">
    <% if @workout.done? %>
      <p>
        <%= link_to t('.share_workout'), '#TODO', role: 'button', class: 'btn btn-primary btn-block', onclick: "alert('#{t(:not_available_yet)}'); return false" %>
        <span class="text-muted"><small><%= t('.share_workout_help') %></small></span>
      </p>
      <p>
        <%= link_to t('.edit_workout'), edit_workout_path(@workout), role: 'button', class: 'btn btn-info btn-block' %>
        <span class="text-muted"><small><%= t('.edit_workout_help') %></small></span>
      </p>
    <% else %>
      <p>
        <%= link_to t('.mark_done_strava'), new_workout_strava_path(@workout), role: 'button', class: 'btn btn-primary btn-block' %>
        <span class="text-muted"><small><%= t('.mark_done_strava_help') %></small></span>
      </p>
      <p>
        <%= link_to t('.mark_done_manually'), edit_workout_path(@workout, done: true), role: 'button', class: 'btn btn-info btn-block' %>
        <span class="text-muted"><small><%= t('.mark_done_manually_help') %></small></span>
      </p>
      <p>
        <%= link_to t('.edit_workout'), edit_workout_path(@workout), role: 'button', class: 'btn btn-default btn-block' %>
        <span class="text-muted"><small><%= t('.edit_workout_help') %></small></span>
      </p>
    <% end %>
    <p><%= link_to t('.delete_workout'), workout_path(@workout), role: 'button', class: 'btn btn-danger btn-xs btn-block', method: :delete, data: {confirm: t('.confirm_delete_workout')} %></p>
    <p><%= link_to t('back'), workouts_path, role: 'button', class: 'btn btn-default btn-block' %></p>
  </div>
</div>
