<div class="row">
  <div class="col-sm-12">
    <h1><%= t '.title' %></h1>
  </div>
</div>

<div class="row">
  <div class="col-sm-8">
    <% if @workout.async_updating? %>
      <div class="alert alert-info" role="alert">
        <span class="glyphicon glyphicon-hourglass" aria-hidden="true"></span> <%= t '.async_updating_alert_html', link: link_to(t('.reload'), workout_path(@workout), class: 'alert-link') %>
      </div>
    <% end %>
    <%= render partial: 'workouts/summary', locals: {workout: @workout, detailed: !@workout.async_updating?, quick_actions: false} %>
  </div>

  <div class="col-sm-4">
    <% if @workout.done? %>
      <p>
        <%= link_to t('.share_workout'), new_workout_share_path(@workout), role: 'button', class: 'btn btn-primary btn-lg btn-block' %>
        <span class="text-muted"><small><%= t('.share_workout_help') %></small></span>
      </p>
    <% else %>
      <p>
        <%= link_to t('.mark_done_strava'), do_strava_workout_path(@workout), role: 'button', class: 'btn btn-primary btn-block' %>
        <span class="text-muted"><small><%= t('.mark_done_strava_help') %></small></span>
      </p>
      <p>
        <%= link_to t('.mark_done_manually'), do_workout_path(@workout), role: 'button', class: 'btn btn-info btn-block' %>
        <span class="text-muted"><small><%= t('.mark_done_manually_help') %></small></span>
      </p>

      <% if @workout.late? || @workout.today? %>
        <p>
          <%= link_to t('.mark_not_done'), do_not_workout_path(@workout), role: 'button', class: 'btn btn-block btn-default' %>
        </p>
      <% end %>

      <p>
        <%= link_to t('.share_workout'), new_workout_share_path(@workout), role: 'button', class: 'btn btn-default btn-xs btn-block' %>
        <span class="text-muted"><small><%= t('.share_workout_help') %></small></span>
      </p>
    <% end %>

    <p>
      <%= link_to t('.edit_workout'), edit_workout_path(@workout), role: 'button', class: 'btn btn-default btn-block' %>
      <span class="text-muted"><small><%= t('.edit_workout_help') %></small></span>
    </p>

    <% if @workout.done? %>
      <p>
        <%= link_to t('.undo_workout'), undo_workout_path(@workout), role: 'button', class: 'btn btn-warning btn-xs btn-block', method: :delete, data: {confirm: t('.confirm_undo_workout')} %>
        <span class="text-muted"><small><%= t('.undo_workout_help') %></small></span>
      </p>
    <% end %>

    <p>
      <%= link_to t('.delete_workout'), workout_path(@workout), role: 'button', class: 'btn btn-danger btn-xs btn-block', method: :delete, data: {confirm: t('.confirm_delete_workout')} %>
    </p>

    <p>
      <%= link_to t('back'), workouts_path, role: 'button', class: 'btn btn-default btn-block' %>
    </p>

    <p>
      <%= link_to t('.new_workout'), new_workout_path, role: 'button', class: 'btn btn-success btn-xs btn-block' %>
    </p>
  </div>
</div>
