<div class="row">
  <div class="col-sm-12">
    <h1><%= t '.title' %></h1>
  </div>
</div>

<%= bootstrap_form_for(@workout_share) do |form| %>
  <div class="row">
    <div class="col-sm-8">
      <%= form.text_field :emails, help: t('.emails_help'), autofocus: true %>

      <div class="form-group">
        <label class="control-label" for="workout_public_access_url"><%= Workout.human_attribute_name(:public_access_url) %></label>
        <input class="form-control" type="text" readonly="readonly" value="<%= public_workout_url(@workout.public_access_token) %>" id="workout_public_access_url" onclick="this.select();">
        <span class="help-block"><%= t('.public_access_url_help') %></span>
      </div>

      <%= render partial: 'workouts/summary', locals: {workout: @workout, detailed: @workout.done?} %>
    </div>

    <div class="col-sm-4">
      <p><%= form.submit t('submit'), data: {disable_with: t('saving')}, class: 'btn btn-primary btn-lg btn-block' %></p>

      <p><%= link_to t('back'), workout_path(@workout), role: 'button', class: 'btn btn-default btn-block' %></p>
    </div>
  </div>
<% end %>
